.templatepdfAnNotateContainer #templatedragabbleImageText  {
	position:fixed;
	width:100px;
	height:auto;
}

.templatepdfAnNotateContainer #templatedragabbleImageSign  {
	position:fixed;
	width:200px;
	height:auto;
}



canvas, .canvas-container {
    margin-bottom: 25px;

    z-index: 0 !important;
}

.canvas-container {
    margin-left: auto;
    margin-right: auto;
    z-index: 0 !important;
}