 #templatedragabbleImageText  {
	position:fixed;
	width:100px;
    height:auto;
    z-index: 99999999999999999999999999999999999999999999999;
}

 #templatedragabbleImageSign  {
	position:fixed;
	width:200px;
    height:auto;
    z-index: 999999999999999999999999999999999999999999999999;
}



canvas, .canvas-container {
    margin-bottom: 25px;


}

.canvas-container {
    margin-left: auto;
    margin-right: auto;
}