

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(85, 85, 85, 0.5);
    border-radius: 15px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-track {
    background-color: transparent; 
}

@media screen and (max-width: 480px) {
    #pdf-container {
		transform: scale(0.4);
		padding:8px;
     transform-origin: 0% 0% 0px;
	}
	#container {
	}
	.toolbar .tool{
		width:30% !important;
		
	}
	.toolbar{
		border:none !important;
		padding-bottom: 20px;
	}
	.divider{
		display:none;
	}
}

canvas, .canvas-container {
	top:20px;
	align-items: center;
	-webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
	border-radius:5px;
	display: flex;
	justify-content: center;
	margin: 0px auto;
	position: relative;
	
	
	
}

.recepientsbar{
	width: 100%;
	height: 90%;
	top:10px;
	position: relative;
	text-align:center;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin:1%;
	padding-left:10px;
	padding-right:10px;
}

.recepientsbar .tool {
	display: inline-block;
	color: #626262;
	width: 100%;
	border:none !important;
	text-align: left;
	padding-top:5px;
	vertical-align: middle;
	font-size: 11px !important;
	padding-bottom:5px;
	background-color: transparent;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 6px;
	margin-bottom: 6px;
	
}

.recepientsbar .tool:hover {
	color:#d35400;
  }
  
  .recepientsbar .tool.active {
	  color:#d35400 !important;
	}
	
  
  .recepientsbar .tool:hover i.material-icons {
	  color:#d35400;
  }


.editortoolbar{
	width: 100%;
	position: relative;
	text-align:center;
	align-items: center;
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 2;
	grid-column-end: 3;
	-ms-grid-row: 1;
	grid-row: 1;
	justify-content: center;
}

.editortoolbar .tool {
	display: inline-block;
	color: #626262;
	border:none !important;
	padding-top:5px;
	font-size: 10px !important;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	
}

.editortoolbar .tool i.material-icons {
	padding: 0px !important;
	margin: 0px !important;
	font-size: 18px !important;
}

.toolbar {	
	width: 100%;
	height: 90%;
	top:10px;
	position: relative;
	text-align:center;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin:1%;
	padding-left:10px;
	padding-right:10px;
}



#fileinput {
	width: 100px;
	height: 25px;
	background-color:#d35400;
	
}


#pdf-container {
	text-align: center;
	position: relative;
	justify-content: center;
	align-items: center;
	transform: scale(0.9);
     transform-origin: 0% 0% 0px;
     transform-origin: 0% 0% 0px;
}

#container {
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.027);
	border-radius: 10px;
	margin:1%;
	margin:1%;
	width: 98%;
	padding-left:10px;
	padding-right:10px;
	overflow: auto;
	position: relative;
}

button:focus {
    outline: 0;
}

.toolbar .tool {
	display: inline-block;
	color: #626262;
	width: 100%;
	border:none !important;
	text-align: left;
	padding-top:5px;
	vertical-align: middle;
	font-size: 11px !important;
	padding-bottom:5px;
	background-color: transparent;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 6px;
	margin-bottom: 6px;
	
}

.toolbar .tool:hover {
  color:#d35400;
}

.toolbar .tool.active {
	color:#d35400 !important;
  }
  

.toolbar .tool:hover i.material-icons {
	color:#d35400;
}



#colortool{
	display:none;
	height:0px;
	width:0px;
}

#selectcolor{
	border: 1px solid #565656 !important;
	width:0px;
	height:0px;
	display:none;
}

#penbtn{
	display:none;
}

#openfilebtn{
	display:none;
}

#circlebtn{
	display:none;
}
#rectanglebtn{
	display:none;
}


.icon-color{
	color: #d35400 !important;
	
}



#fileinput{
	display:none;
}

#addobjbtn{
	display:none;
}

#imageinput{
	display:none;
}

i.material-icons{
	color: #626262;
	padding-left:6px;
	padding-right:6px;
	font-size: 15px !important;
	vertical-align: middle;
}





.modal {
	display: none;
	position: fixed; 
	padding-top: 10%;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%; 
	background-color: rgba(0, 0, 0, 0.527);
  }
  .modal-content {
	position: relative; 
	background-color: white;
	padding: 20px; 
	margin: auto; 
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 40%;  
	-webkit-animation: fadeinout 0.25s linear forwards;
    animation: fadeinout 0.25s linear forwards;
  }
  .close-btn {
	justify-content: center;
	display: flex;
	display: inline-block;
	color: #fff;
	height: 30px;
	background-color: #d35400;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding-right:50px;
	padding-left:50px;
	margin-top: 6px;
	margin-bottom: 6px;
  }
  
  .cancel-btn {
	justify-content: center;
	display: flex;
	display: inline-block;
	color: #fff;
	height: 30px;
	background-color: #626262;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding-right:50px;
	padding-left:50px;
	margin-top: 6px;
	margin-bottom: 6px;
  }
  .close-btn:hover {
	color: #e3e3e3;
	background-color: #525252;
  }


  .close-btn2 {
	justify-content: center;
	display: flex;
	display: inline-block;
	color: #fff;
	height: 30px;
	background-color: #d35400;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding-right:50px;
	padding-left:50px;
	margin-top: 6px;
	margin-bottom: 6px;
  }
  .close-btn2:hover {
	color: #e3e3e3;
	background-color: #626262;
  }

  .close-btn3 {
	justify-content: center;
	display: flex;
	display: inline-block;
	color: #fff;
	height: 30px;
	background-color: #d35400;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding-right:50px;
	padding-left:50px;
	margin-top: 6px;
	margin-bottom: 6px;
  }
  .close-btn3:hover {
	color: #e3e3e3;
	background-color: #626262;
  }


  @-webkit-keyframes fadeinout {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @keyframes fadeinout {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


#signature-container{
	visibility: hidden;
	height: 0px;
}

.imgclass{
	height:100px;
	width:200px;
	border: 5px solid #d35400;
	padding:5px;
	border-radius: 10px;
}

#image-container{
	width: 100%;
	height: 250px;
	background-color: #fff;
	border-radius: 4px;
	padding: 16px;
}

.select-pad--actions {
	
  }

.imgclass:active {
	border: 5px solid #d35400;
	padding:10px;
  }

#tabcontent{
	height: 320px;
}


#emailbtncontainer{
	display: none;
}




.signature-pad {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	font-size: 10px;
	width: 100%;
	height: 300px;
	background-color: #fff;
	border-radius: 4px;
	padding: 16px;
  }
  
  .signature-pad::before,
  .signature-pad::after {
	position: absolute;
	z-index: -1;
	content: "";
	width: 100%;
	height: 10px;
	bottom: 10px;
	background: transparent;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }
  
  .signature-pad::before {
	left: 20px;
	-webkit-transform: skew(-3deg) rotate(-3deg);
			transform: skew(-3deg) rotate(-3deg);
  }
  
  .signature-pad::after {
	right: 20px;
	-webkit-transform: skew(3deg) rotate(3deg);
			transform: skew(3deg) rotate(3deg);
  }
  
  .signature-pad--body {
	position: relative;
	-webkit-box-flex: 1;
		-ms-flex: 1;
			flex: 1;
	border: 1px solid #f4f4f4;
  }
  
  .signature-pad--body
  canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }
  
  .signature-pad--footer {
	color: #C3C3C3;
	text-align: center;
	font-size: 1.2em;
	margin-top: 8px;
  }
  
  .signature-pad--actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-top: 8px;
  }


.lds-dual-ring {
	text-align:center;
	align-items: center;
	justify-content: center;
	display: inline-block;
	width: 30px;
	height: 30px;
  }
  .lds-dual-ring:after {
	text-align:center;
	align-items: center;
	justify-content: center;
	content: " ";
	display: block;
	width: 24px;
	height: 24px;
	margin: 4px;
	border-radius: 50%;
	border: 3px solid #626262;
	border-color: #626262 transparent #626262 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  
  #recepientselect option:nth-child(1) {color:#000; background-color:#E6EE9C;}
  #recepientselect option:nth-child(2) {color:#000; background-color:#B6EDD8;}
  #recepientselect option:nth-child(3) {color:#000; background-color:#FFCDD3;}
  #recepientselect option:nth-child(4) {color:#000; background-color:#90CAF9;}
  #recepientselect option:nth-child(5) {color:#000; background-color:#E1BEE7;}
  #recepientselect option:nth-child(6) {color:#000; background-color:#A5D6A7;}
  #recepientselect option:nth-child(7) {color:#000; background-color:#B3E2E3;}
  #recepientselect option:nth-child(8) {color:#000; background-color:#BCAAA4;}
  #recepientselect option:nth-child(9) {color:#000; background-color:#E0E0E0;}
  #recepientselect option:nth-child(10) {color:#000; background-color:#FFAB00;}
  #recepientselect option:nth-child(11) {color:#000; background-color:#64DD17;}
  #recepientselect option:nth-child(12) {color:#000; background-color:#00B8D4;}
  #recepientselect option:nth-child(13) {color:#000; background-color:#00BFA5;}

  