#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#sortable li {
	margin: 1%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #f6f6f6;
	background-color: #fbfbfb;
	padding-left: 1.5em;
	width: 98%;
}
#sortable li span {
	position: absolute;
	margin-left: 1.3em;
}

.rcard {
	padding: 10px;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 5px;
}

.rcard:hover {
	cursor: move;
}

.inputr {
	width: 28% !important;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.recipientoption {
	width: 20%;
	border: 1px solid #ebebeb;
}

input:disabled,
input[disabled] {
	background-color: #fff;
}

.buttonr {
	width: 4%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	height: 30px;
	background-color: rgb(189, 60, 0);
	color: #fff;
	border-radius: 5px;
	border: 0;
}

.buttonr:hover {
	background-color: #626262;
}

#recipientoptionselect {
	border: 1px solid #f6f6f6;
}

#sortable li:hover {
	cursor: move;
}

#sortable li:nth-child(1) {
	border-left: 10px solid #e6ee9c;
}
#sortable li:nth-child(2) {
	border-left: 10px solid #b6edd8;
}
#sortable li:nth-child(3) {
	border-left: 10px solid #ffcdd3;
}
#sortable li:nth-child(4) {
	border-left: 10px solid #90caf9;
}
#sortable li:nth-child(5) {
	border-left: 10px solid #e1bee7;
}
#sortable li:nth-child(6) {
	border-left: 10px solid #a5d6a7;
}
#sortable li:nth-child(7) {
	border-left: 10px solid #b3e2e3;
}
#sortable li:nth-child(8) {
	border-left: 10px solid #bcaaa4;
}
#sortable li:nth-child(9) {
	border-left: 10px solid #e0e0e0;
}
#sortable li:nth-child(10) {
	border-left: 10px solid #ffab00;
}
#sortable li:nth-child(11) {
	border-left: 10px solid #64dd17;
}
#sortable li:nth-child(12) {
	border-left: 10px solid #00b8d4;
}
#sortable li:nth-child(13) {
	border-left: 10px solid #00bfa5;
}

@media screen and (max-width: 640px) {
	#fieldsrightbar {
		height: 100%;
		margin-bottom: 15px;
	}
	#recipientsbar #thumb-container {
		height: 180px;
		overflow-y: hidden;
		overflow-x: scroll;
	}
	#recipientdiv li {
		margin-bottom: 10px;
	}
	.rcard {
		display: flex;
		flex-direction: column;
	}
	.rcard input {
		width: 100% !important;
	}

	.buttonr {
		margin-top: 10px;
		width: 100%;
	}
}
