@font-face {
	font-family: 'HighTide';
	src: url('../fonts/HighTide.ttf');
}

@font-face {
	font-family: 'MissNeally';
	src: url('../fonts/MissNeally.otf');
}

@font-face {
	font-family: 'RunWild';
	src: url('../fonts/RunWild.ttf');
}

@font-face {
	font-family: 'WarmShowers';
	src: url('../fonts/WarmShowers.ttf');
}
